Importação da bibliotecas necessárias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

Carregar o DF

Obs: Ao carregar um arquivo do Windows vem com a barra invertida, porém o certo é com a barra normal

In [2]:
#Carregando df de treino
train_data = pd.read_csv("C:/Users/teodo/OneDrive/Documentos/Projects/Projetos de ciência de dados/Previsão preço de casas/train.csv")

Exploração dos dados

In [3]:
train_data.head()

#Percebemos que possuimos 81 colunas

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train_data.describe()
#Existem 38 colunas numéricas
#Porém nem todas colunas fazem sentido estar ai, por exemplo o ID é algo único então não tem para que fazer médias e outras estatísticas
#A coluna MSSubClass também não faz sentido, pois ela se trata do tipo de habitação envolvida na venda e cada número representa um tipo de habitação

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
train_data.shape
#Temos 1460 linhas

(1460, 81)

In [6]:
#Verificar valores nulos
colunas_vazias =train_data.columns[train_data.isnull().any()]
contagem= train_data[colunas_vazias].isnull().sum()
print(contagem)

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [7]:
#Tratar valores ausentes nas colunas numéricas
#Separando colunas numéricas
column_numerica = train_data.select_dtypes(include=["number"]).columns

#Preenchendo com a média
train_data[column_numerica]= train_data[column_numerica].fillna(train_data[column_numerica].mean())

In [8]:
#Tratando colunas com variáveis categóricas, pois no arquivo tem dados que são classificações
#Sendo necessário tomar cuidado para realizar machine learning

#Transformar as colunas categóricas em numérico


train_data= pd.get_dummies(train_data)

In [9]:
#Confirmar o total de valores vazios
train_data.isnull().sum().sum()

0

Agora, ao invés de ter uma coluna para classificação geral, agora temos 1 colunas para cada "subclassificação" com valores booleanos, ou seja, 0 ou 1

In [10]:
train_data.head()
#Percebemos que aumentara os números de colunas

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,False,False,False,True,False,False,False,False,True,False
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,False,False,False,True,False,False,False,False,True,False
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,False,False,False,True,False,False,False,False,True,False
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,False,False,False,True,True,False,False,False,False,False
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,False,False,False,True,False,False,False,False,True,False

Realizando Correlação

In [ ]:
#Ver a quantidade de outliers
plt.figure(figsize=(10,6))
sns.boxplot(x=train_data["SalePrice"])
plt.title("Boxplot")
plt.show()

In [ ]:
#Selecionar qual variável desejo ver as relações
target= "SalePrice"
corr_matrix= train_data.corr()[target].abs().sort_values(ascending=False)
top_corr_columns = corr_matrix.head(20).index  # Seleciona as 20 colunas mais correlacionadas
reduced_df = train_data[top_corr_columns]

# Criar heatmaps em partes menores
step = 10  # Número de colunas por gráfico
for i in range(0, len(top_corr_columns), step):
    plt.figure(figsize=(12, 8))
    sns.heatmap(reduced_df.iloc[:, i:i+step].corr(), annot=True, fmt='.2f', cmap='coolwarm')
    plt.show()

Nos gráficos acima, é perceptível que as variáveis mais próximas do vermelho, tendem a ter uma maior relação com o preço de venda,

 já quanto mais azul, a relação é inversamente proporcional

Distribuição dos preços das casas

In [ ]:
plt.figure(figsize=(10,6))
sns.histplot(train_data["SalePrice"], kde=True)
plt.title("Distribuição dos preços")
plt.xlabel("Preço")
plt.ylabel("Frequência")
plt.show()

In [20]:
#Vendo a relação de cada variável com o preço
corre_matrix = train_data.corr()
print(corre_matrix['SalePrice'].sort_values(ascending=False))

SalePrice            1.000000
OverallQual          0.790982
GrLivArea            0.708624
GarageCars           0.640409
GarageArea           0.623431
                       ...
GarageType_Detchd   -0.354141
GarageFinish_Unf    -0.410608
BsmtQual_TA         -0.452394
KitchenQual_TA      -0.519298
ExterQual_TA        -0.589044
Name: SalePrice, Length: 289, dtype: float64

Fazendo o modelo de previsão

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Carregar os dados
train_data = pd.read_csv('C:/Users/teodo/OneDrive/Documentos/Projects/Projetos de ciência de dados/Previsão preço de casas/train.csv')
test_data = pd.read_csv('C:/Users/teodo/OneDrive/Documentos/Projects/Projetos de ciência de dados/Previsão preço de casas/test.csv')

# Preencher valores nulos para colunas numéricas com a média no conjunto de treino
numeric_features = train_data.select_dtypes(include=[np.number]).columns
train_data[numeric_features] = train_data[numeric_features].fillna(train_data[numeric_features].mean())

# Preencher valores nulos para colunas categóricas com a moda no conjunto de treino
categorical_features = train_data.select_dtypes(include=[object]).columns
train_data[categorical_features] = train_data[categorical_features].apply(lambda x: x.fillna(x.mode()[0]))

# Converter variáveis categóricas em variáveis dummy no conjunto de treino
train_data = pd.get_dummies(train_data)

# Preparação dos dados de teste
numeric_features_test = test_data.select_dtypes(include=[np.number]).columns
test_data[numeric_features_test] = test_data[numeric_features_test].fillna(test_data[numeric_features_test].mean())

categorical_features_test = test_data.select_dtypes(include=[object]).columns
test_data[categorical_features_test] = test_data[categorical_features_test].apply(lambda x: x.fillna(x.mode()[0]))

test_data = pd.get_dummies(test_data)

# Adicionando colunas que estão faltando no conjunto de teste
missing_cols = set(train_data.columns) - set(test_data.columns)
for col in missing_cols:
    test_data[col] = 0

# Removendo colunas extras que não estão no conjunto de treino
test_data = test_data[train_data.columns.drop('SalePrice')]

# Definir as features (X) e o alvo (y)
X = train_data.drop('SalePrice', axis=1)
y = train_data['SalePrice']

# Separar os dados
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

# Criar o modelo de regressão linear
model = LinearRegression()

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões no conjunto de validação
y_pred = model.predict(X_valid)

# Calcular R² e RMSE
r2 = r2_score(y_valid, y_pred)
rmse = np.sqrt(mean_squared_error(y_valid, y_pred))

print(f'R²: {r2}')
print(f'RMSE: {rmse}')

# Fazer previsões no conjunto de teste
test_predictions = model.predict(test_data)

# Visualizar as primeiras previsões
print(test_predictions[:10])

R²: 0.8860811522088823
RMSE: 29560.0190071788
[192944.64723852 234810.03316562 260354.77523095 273534.02428123
 284067.40820639 245715.53098998 248714.49392705 230468.17443252
 283741.74508467 189121.93722517]